.grid-container {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 'nav' 'main' 'footer';
}

.grid-container div {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

.grid-start-element {
    display: grid;
    justify-content: start;
    align-content: center;
}

.grid-centered-element {
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid-end-element {
    display: grid;
    justify-content: end;
    align-content: center;
}

.grid-nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: 15% 15% 15% 15% 15% 15% 10%;
    grid-template-rows: 100%;
    grid-template-areas: 'nav-pokemon nav-types nav-moves nav-ability nav-items nav-locations nav-profile';
}

.grid-nav-pokemon {
    grid-area: nav-pokemon;
}

.grid-nav-types {
    grid-area: nav-types;
}

.grid-nav-moves {
    grid-area: nav-moves;
}

.grid-nav-abilities {
    grid-area: nav-abilities;
}

.grid-nav-items {
    grid-area: nav-items;
}

.grid-nav-locations {
    grid-area: nav-locations;
}

.grid-nav-profile {
    grid-area: nav-profile;
}

.grid-main {
    display: grid;
    grid-area: main;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas: 'search' 'identificator' 'content';
}

.grid-main-search {
    display: grid;
    grid-area: search;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 'id button';
}

.grid-main-search-id {
    grid-area: id;
}

.grid-main-search-button {
    grid-area: button;
}

.grid-main-identificator {
    display: grid;
    grid-area: identificator;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
    grid-template-areas: 'identificator-previous identificator-id-name identificator-next';
}

.grid-main-identificator-previous {
    grid-area: identificator-previous;
}

.grid-main-identificator-id-name {
    grid-area: identificator-id-name;
}

.grid-main-identificator-next {
    grid-area: identificator-next;
}

.grid-footer {
    grid-area: footer;
}
